<div class="container">

    <div class="row ">
        <div class="col-12">
            <img src="assets/img/landing.jpg">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-3">
            <img src="assets/img/breakfast.jpg">
        </div>
        <div class="col-3">
            <img src="assets/img/lunch.jpg">
        </div>
        <div class="col-3">
            <img src="assets/img/lunch.jpg">
        </div>
        <div class="col-3">
            <img src="assets/img/dinner.jpg">
        </div>


    </div>

    <div class="row mt-5 mb-5">
        <div class="col-6">
            <img src="assets/img/fastFood1.jpg">
            <img src="assets/img/fastFood2.jpg">
        </div>
        <div class="col-6">
            <h1>Fast Food</h1> <br>
            <h2>You'll love our delicous fast food</h2> <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inciddunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborinisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in re prehenderit in voluptar velit esse cillum dolore eu
                fugiat nulla pariatur.Exceteur sint occaecat cupi datat non proident</p>
            <button type="button" class="btn btn-outline-danger">VIEW GALLERY --></button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <h1>Drinks</h1> <br>
            <h2>We also produce delicious drinks</h2> <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inciddunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborinisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in re prehenderit in voluptar velit esse cillum dolore eu
                fugiat nulla pariatur.Exceteur sint occaecat cupi datat non proident
            </p> <br>
            <button type="button" class="btn btn-outline-danger">VIEW GALLERY --></button>
        </div>
        <div class="col-6">

            <img src="assets/img/drink1.jpg">
            <img src="assets/img/drink2.jpg">

        </div>
    </div>
</div>