<div class="container">
    <div class="row mb-5">
        <div class="top-container bg-image" style="background-image: url('assets/img/landing.jpg');height: 100vh">
            <div class="first-top">
                <img id="bars" src="assets/img/bars-svgrepo-com.svg" alt="">
                <img src="assets/img/logoBig.png" alt="" srcset="">
                <h3>We provide the best food </h3>
                <h3>at the <strong>Right Price</strong></h3>
            </div>

        </div>
    </div>            
    <div class="first-bottom">
        <div class="happy">
            <p>Happy Hour</p>
            <p>Party Time</p>
        </div>
        <div class="">
            <img src="assets/img/breakfast.jpg">
        </div>
        <div class="">
            <img src="assets/img/lunch.jpg">
        </div>
        <div class="">
            <img src="assets/img/dinner.jpg">
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-6">
            <img src="assets/img/fastFood1.jpg">
            <img src="assets/img/fastFood2.jpg">
        </div>
        <div class="col-6">
            <h1>Fast Food</h1> <br>
            <h2>You'll love our delicous fast food</h2> <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inciddunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborinisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in re prehenderit in voluptar velit esse cillum dolore eu
                fugiat nulla pariatur.Exceteur sint occaecat cupi datat non proident</p>
            <button type="button" class="btn btn-outline-danger">VIEW GALLERY --></button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <h1>Drinks</h1> <br>
            <h2>We also produce delicious drinks</h2> <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inciddunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborinisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in re prehenderit in voluptar velit esse cillum dolore eu
                fugiat nulla pariatur.Exceteur sint occaecat cupi datat non proident
            </p> <br>
            <button type="button" class="btn btn-outline-danger">VIEW GALLERY --></button>
        </div>
        <div class="col-6">

            <img src="assets/img/drink1.jpg">
            <img src="assets/img/drink2.jpg">

        </div>
    </div>
    <div class="row mt-5 section-by-me bg-image" style="background-image: url('assets/img/foodsBg.jpg');">
        <div class="food-wrapper">
            <div class="links">
                <p>fast Food</p>
                <p>Drinks</p>
                <p>Chicken</p>
                <p>Rice</p>
            </div>
            <div class="images">
                <div class="single-item">
                    <img src="assets/img/chickenBurger.jpg" alt="" srcset="">
                    <h6>chicken Burger</h6>
                </div>
                <div class="single-item">
                    <img src="assets/img/beefBurger.jpg" alt="" srcset="">
                    <h6>beef Burger</h6>
                </div>
                <div class="single-item">
                    <img src="assets/img/chickenPizza.jpg" alt="" srcset="">
                    <p>chicken Pizza</p>
                </div>
            </div>
        </div>
    </div>
    <section class="first-section">
       <div class="top-section">
            <div class="inner-wrapper">
                <div class="side-left">
                    <h3>Our Happy Customers</h3>
                    <h5>George richards</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quos possimus consequatur deleniti optio quasi consequuntur vitae aut, dolores similique.</p>
                    <div class="navigations">
                        <img src="assets/img/arrow-left-svgrepo-com.svg" alt="" srcset="">
                        <img src="assets/img/p1.png" alt="" srcset="">
                        <img src="assets/img/p2.png" alt="" srcset="">
                        <img src="assets/img/p3.png" alt="" srcset="">
                        <img src="assets/img/arrow-right-svgrepo-com.svg" alt="" srcset="">
                    </div>
                </div>
                <div class="side-right">
                    <h3>About Menu</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem deserunt repellat cupiditate soluta?</p>
                </div>
            </div>
       </div> 
       <div class="bottom-section" style="background-image: url('assets/img/subscribe.jpg');">
            <div class="form-wrapper">
                <h3>Get your daily food items delivered to your email</h3>
                <form action="">
                    <input type="text" placeholder="your email">
                    <div id="sub">subscribe</div>
                </form>
            </div>
       </div>
    </section>
    <section class="last">
        <div class="menu">
            <img src="assets/img/logo_white.png" alt="" srcset="">
            <h2>MENU</h2>
        </div>
        <p>That's what we are</p>
        <div class="icons">
            <img src="assets/img/facebook.png" alt="" srcset="">
            <img src="assets/img/pinterest.png" alt="" srcset="">
            <img src="assets/img/twitter.png" alt="" srcset="">
        </div>
        <p>2016 hotel menu</p>
    </section>
</div>